/* You can add global styles to this file, and also import other style files */
i.fa {
    margin-left:10px;
}
/* materialize styles for footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
.page-footer {
    padding-top:0 !important;
}